body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.navbar{
    display: block;
    width: 100vw;
    background-color: aliceblue !important;
    justify-content: flex-start;
    padding: 0px;
}

p{
    font-size: 30px;
    color: black;
    font-family: "Stalinist One", sans-serif;
}

#calculator{
    height:80vh;
    width: 50%;
    border: 2px solid black;    
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(7,1fr);
    padding: 10px;
    gap:10px;
    background-color: #A0A0A0;
    margin: 10px;
}

.screen{
    grid-row:span 2;
    grid-column: span 7;
    border: 2px dashed black;
    margin:10px;
    border-radius:10px;
    background-color: #C0C0C0;
}

.solarpanel{
    grid-row: 3;
    grid-column: 5/ span 3;    
    background-color: #474343;
    border-radius: 10px;
}
.MU{
    grid-row:4;
    grid-column:1;
}

.S{
    grid-row:4;
    grid-column:2;
}

.E{
    grid-row:4;
    grid-column:3;
}

.N{
    grid-row:4;
    grid-column:4;
}

.GT{
    grid-row:4;
    grid-column:5;
}

.percentage{
    grid-row:4;
    grid-column:6;
}

.AC{
    grid-row:4;
    grid-column:7;
}

.SQRT{
    grid-row:5;
    grid-column:1;
}

.F{
    grid-row:5;
    grid-column:2;
}

.Fi{
    grid-row:5;
    grid-column:3;
}

.Si{
    grid-row:5;
    grid-column:4;
}

.Multiply{
    grid-row:5;
    grid-column:5;
}

.Divide{
    grid-row:5;
    grid-column:6;
}

.MRC{
    grid-row:5;
    grid-column:7;
}

.Sign{
    grid-row:6;
    grid-column:1;
}

.O{
    grid-row:6;
    grid-column:2;
}

.T{
    grid-row:6;
    grid-column:3;
}

.Th{
    grid-row:6;
    grid-column:4;
}

.Add{
    grid-row:6 / 8;
    grid-column:5;    
}

.Subtract{
    grid-row:6;
    grid-column:6;
}

.M-{
    grid-row:6;
    grid-column:7;
}

.CE{
    grid-row:7;
    grid-column:1;
}

.Z{
    grid-row:7;
    grid-column:2;
}

.ZZ{
    grid-row:7;
    grid-column:3;
}

.Decimal{
    grid-row:7;
    grid-column:4;
}

.Equal{
    grid-row:7;
    grid-column:6;
}

.Mplus{
    grid-row:7;
    grid-column:7;
}

.buttons > button[type=button]{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/*Responsiveness*/
@media (max-width:906px){
    .navbar{
        display: block;
        width: 100vw;
        background-color: aliceblue !important;
        justify-content: flex-start;
        padding: 0px;
    }

    #calculator{
        height:80vh;
        width: 50%;
        border: 2px solid black;    
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(6,1fr);
        padding: 10px;
        gap:10px;
        background-color: #A0A0A0;
        margin: 10px;
    }

    .screen{
        grid-row:span 2;
        grid-column: span 7;
        border: 2px dashed black;
        margin:10px;
        border-radius:10px;
        background-color: #C0C0C0;
    }

    .solarpanel{
        grid-row: 3;
        grid-column: 5/ span 3;    
        background-color: #474343;
        border-radius: 10px;
        display: none;
    }
    .MU{
        display: none;
    }
    .AC{
        grid-row: 4;
        grid-column: 1;
    }
    .S{
        grid-row:4;
        grid-column:2;
    }

    .E{
        grid-row:4;
        grid-column:3;
    }

    .N{
        grid-row:4;
        grid-column:4;
    }

    .GT{
        display: none;
    }

    .percentage{
        grid-row:4;
        grid-column:6;
    }
    .SQRT{
        grid-row:5;
        grid-column:1;
    }

    .F{
        grid-row:5;
        grid-column:2;
    }

    .Fi{
        grid-row:5;
        grid-column:3;
    }

    .Si{
        grid-row:5;
        grid-column:4;
    }

    .Multiply{
        grid-row:5;
        grid-column:5;
    }

    .Divide{
        grid-row:5;
        grid-column:6;
    }

    .MRC{
        display:none;
    }

    .Sign{
        grid-row:6;
        grid-column:1;
    }

    .O{
        grid-row:6;
        grid-column:2;
    }

    .T{
        grid-row:6;
        grid-column:3;
    }

    .Th{
        grid-row:6;
        grid-column:4;
    }

    .Add{
        grid-row:6;
        grid-column:5;    
    }

    .Subtract{
        grid-row:4;
        grid-column:5;
    }

    .M-{
        display: none;
    }

    .CE{
        grid-row:3;
        grid-column:2;
    }

    .Z{
        grid-row:3;
        grid-column:3;
    }

    .ZZ{
        display: none;
    }

    .Decimal{
        grid-row:3;
        grid-column:4;
    }

    .Equal{
        grid-row:6;
        grid-column:6;
    }

    .Mplus{
        display:none
    }
}
@media (max-width:583px){
    body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    }
    .navbar{
        display: block;
        width: 100vw;
        background-color: aliceblue !important;
        justify-content: flex-start;
        padding: 0px;
    }

    p{
        font-size: 30px;
        color: black;
        font-family: "Stalinist One", sans-serif;
    }

    #calculator{
        height:600px;
        width: 50%;
        border: 2px solid black;    
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(6,50px);
        grid-template-rows: repeat(8,50px);
        padding: 10px;
        gap:18px;
        background-color: #A0A0A0;
        margin: 10px;
    }

    .screen{
        grid-row:span 2;
        grid-column: span 4;
        border: 2px dashed black;
        margin:10px;
        border-radius:10px;
        background-color: #C0C0C0;

    }
    .solarpanel{
        grid-row: 3;
        grid-column: 5/ span 3;    
        background-color: #474343;
        border-radius: 10px;
        display: none;
    }
    .auto_replay{
        grid-row: 3;
        grid-column: 1;
    }
    .MU{
        display: none;
    }
    .AC{
        grid-row: 4;
        grid-column: 1;
        font-size: smaller;
    }
    .S{
        grid-row:4;
        grid-column:2;
    }

    .E{
        grid-row:4;
        grid-column:3;
    }

    .N{
        grid-row:4;
        grid-column:4;
    }

    .GT{
        display: none;
    }

    .percentage{
        grid-row:7;
        grid-column:2;
    }
    .SQRT{
        grid-row:5;
        grid-column:1;
    }

    .F{
        grid-row:5;
        grid-column:2;
    }

    .Fi{
        grid-row:5;
        grid-column:3;
    }

    .Si{
        grid-row:5;
        grid-column:4;
    }

    .Multiply{
        grid-row:7;
        grid-column:3;
    }

    .Divide{
        grid-row:7;
        grid-column:4;
    }

    .MRC{
        display:none;
    }

    .Sign{
        grid-row:6;
        grid-column:1;
    }

    .O{
        grid-row:6;
        grid-column:2;
    }

    .T{
        grid-row:6;
        grid-column:3;
    }

    .Th{
        grid-row:6;
        grid-column:4;
    }

    .Add{
        grid-row:8;
        grid-column:1 / span 2;    
    }

    .Subtract{
        grid-row:7;
        grid-column:1;
    }

    .M-{
        display: none;
    }

    .CE{
        grid-row:3;
        grid-column:2;
    }

    .Z{
        grid-row:3;
        grid-column:3;
    }

    .ZZ{
        display: none;
    }

    .Decimal{
        grid-row:3;
        grid-column:4;
    }

    .Equal{
        grid-row:8;
        grid-column:3 /  span 2;
    }

    .Mplus{
        display:none
    }
.buttons > button[type=button]{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
}